<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Podaj podstawowe dane do raportu</h1>

    <h3>Podaj nazwę firmy</h3>
    <div class="nazwaFirmy" th:text="${nazwaFirmy}"></div>

    <h3>Podaj adres firmy</h3>
    <div class="adresFirmy" th:text="${adresFirmy}"></div>

    <h3>Podaj nazwę linii</h3>
    <div class="nazwaLinii" th:text="${nazwaLinii}"></div>

    <h3>Podaj autora raportu</h3>
    <div class="autorRaportu" th:text="${autorRaportu}"></div>

    <h3>Podaj telefon do autora raportu</h3>
    <div class="telefonKontaktowyDoAutoraRaportu" th:text="${telefonKontaktowyDoAutoraRaportu}"></div>

    <h3>Podaj adres email do autora raportu</h3>
    <div class="adresEmailDoAutoraRaportu" th:text="${adresEmailDoAutoraRaportu}"></div>

    <h3>Podaj odobę odpowiedzialną po stronie zamawiającego raport</h3>
    <div class="osobaOdpowiedzialnaPoStronieZamawiajacejRaport" th:text="${osobaOdpowiedzialnaPoStronieZamawiajacejRaport}"></div>

    <h3>Podaj telefon kontaktowy do osoby odpowiedzialnen po stronie zamawiającego raport</h3>
    <div class="telefonKontaktowyDoOsobyOsobyOdpowiedzialnejPoStronieZamawiajacego" th:text="${telefonKontaktowyDoOsobyOsobyOdpowiedzialnejPoStronieZamawiajacego}"></div>

    <h3>Podaj adres email do osoby odpowiedzialnen po stronie zamawiającego raport</h3>
    <div class="adresEmailDoOsobyOdpowiedzialnejPoStronieZamawiajacego" th:text="${adresEmailDoOsobyOdpowiedzialnejPoStronieZamawiajacego}"></div>


<form action="/daneRaportu">
    <p><input type="submit" value="Zobacz wprowadzone dane"/></p>
</form>

<form action="/">
    <p><input type="submit" value="Powrót na stronę poczatkową"/></p>
</form>

</body>
</html>