<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Podaj podstawowe dane do raportu</h1>

<form action="/daneRaportu_form">

    <h3>Podaj nazwę firmy</h3>
    <input type="text" name="nazwaFirmy"/>
    <h3>Podaj adres firmy</h3>
    <input type="text" name="adresFirmy"/>
    <h3>Podaj nazwę linii</h3>
    <input type="text" name="nazwaLinii"/>
    <h3>Podaj autora raportu</h3>
    <input type="text" name="autorRaportu"/>
    <h3>Podaj telefon do autora raportu</h3>
    <input type="text" name="telefonKontaktowyDoAutoraRaportu"/>
    <h3>Podaj adres email do autora raportu</h3>
    <input type="email" name="adresEmailDoAutoraRaportu"/>
    <h3>Podaj odobę odpowiedzialną po stronie zamawiającego raport</h3>
    <input type="text" name="osobaOdpowiedzialnaPoStronieZamawiajacejRaport"/>
    <h3>Podaj telefon kontaktowy do osoby odpowiedzialnen po stronie zamawiającego raport</h3>
    <input type="text" name="telefonKontaktowyDoOsobyOsobyOdpowiedzialnejPoStronieZamawiajacego"/>
    <h3>Podaj adres email do osoby odpowiedzialnen po stronie zamawiającego raport</h3>
    <input type="email" name="adresEmailDoOsobyOdpowiedzialnejPoStronieZamawiajacego"/>


    <p><input type="submit" value="Wprowadz podstawowe dane do raportu"/></p>
</form>

<form action="/">
    <p><input type="submit" value="Powrót na stronę poczatkową"/></p>
</form>

</body>
</html>