<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Podaj podstawowe dane do raportu</h1>

<form action="/dodajDaneRaportu">

    <tr><th>Podaj nazwę firmy</th></tr>
    <input type="text" name="nazwaFirmy"/>
    <tr><th>Podaj adres firm</th></tr>
    <input type="text" name="adresFirmy"/>
    <tr><th>Podaj nazwę linii</th></tr>
    <input type="text" name="nazwaLinii"/>
    <tr><th>Podaj autora raportu</th></tr>
    <input type="text" name="autorRaportu"/>
    <tr><th>Podaj telefon do autora raportu</th></tr>
    <input type="text" name="telefonKontaktowyDoAutoraRaportu"/>
    <tr><th>Podaj adres email do autora raportu</th></tr>
    <input type="email" name="adresEmailDoAutoraRaportu"/>
    <tr><th>Podaj odobę odpowiedzialną po stronie zamawiającego raport</th></tr>
    <input type="text" name="osobaOdpowiedzialnaPoStronieZamawiajacejRaport"/>
    <tr><th>Podaj telefon kontaktowy do osoby odpowiedzialnen po stronie zamawiającego raport</th></tr>
    <input type="text" name="telefonKontaktowyDoOsobyOsobyOdpowiedzialnejPoStronieZamawiajacego"/>
    <tr><th>Podaj adres email do osoby odpowiedzialnen po stronie zamawiającego raport</th></tr>
    <input type="email" name="adresEmailDoOsobyOdpowiedzialnejPoStronieZamawiajacego"/>


    <p><input type="submit" value="Wprowadz podstawowe dane do raportu"/></p>
</form>

<form action="/">
    <p><input type="submit" value="Powrót na stronę poczatkową"/></p>
</form>

<h3>Obecnie podane dane to:</h3>
<tr><th>nazwa Firmy to:</th></tr>
<div class="nazwaFirmy" th:text="${nazwaFirmy}"></div>

<tr><th>adres firmy</th></tr>
<div class="adresFirmy" th:text="${adresFirmy}"></div>

<tr><th>Nazwę linii</th></tr>
<div class="nazwaLinii" th:text="${nazwaLinii}"></div>

<tr><th>Autor raportu</th></tr>
<div class="autorRaportu" th:text="${autorRaportu}"></div>

<tr><th>Telefon do autora raportu</th></tr>
<div class="telefonKontaktowyDoAutoraRaportu" th:text="${telefonKontaktowyDoAutoraRaportu}"></div>

<tr><th>Adres email do autora raportu</th></tr>
<div class="adresEmailDoAutoraRaportu" th:text="${adresEmailDoAutoraRaportu}"></div>

<tr><th>Odoba odpowiedzialna po stronie zamawiającego raport</th></tr>
<div class="osobaOdpowiedzialnaPoStronieZamawiajacejRaport" th:text="${osobaOdpowiedzialnaPoStronieZamawiajacejRaport}"></div>

<tr><th>Telefon kontaktowy do osoby odpowiedzialnen po stronie zamawiającego raport</th></tr>
<div class="telefonKontaktowyDoOsobyOsobyOdpowiedzialnejPoStronieZamawiajacego" th:text="${telefonKontaktowyDoOsobyOsobyOdpowiedzialnejPoStronieZamawiajacego}"></div>

<tr><th>Adres email do osoby odpowiedzialnen po stronie zamawiającego raport</th></tr>
<div class="adresEmailDoOsobyOdpowiedzialnejPoStronieZamawiajacego" th:text="${adresEmailDoOsobyOdpowiedzialnejPoStronieZamawiajacego}"></div>



</body>
</html>