<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Podaj podstawowe dane dla linii</h1>
<h2>Ograniczenia linii (maszyny)</h2>

<form action="/dodajLPOgraniczeniaMaszyny">

    <tr><th>Podaj środowisko pracy</th></tr>
    <input type="text" name="srodowiskoPracy"/>
    <tr><th>Podaj wymagany poziom szkolenia</th></tr>
    <input type="text" name="wymaganyPoziomSzkolenia"/>
    <tr><th>Kto obsługuje linie</th></tr>
    <input type="text" name="liniaObslugiwanaPrzez"/>
    <tr><th>Przeznaczenie linii</th></tr>
    <input type="text" name="przeznaczenieLinii"/>
    <tr><th>Przewidziany czas uzytkowania</th></tr>
    <input type="text" name="przewidzianyCzasUzytkowania"/>
    <tr><th>Podaj wymiary</th></tr>
    <input type="text" name="wymiaryMaszyny"/>
    <tr><th>Podaj środowisko pracy</th></tr>
    <input type="text" name="srodowiskoPracyMaszyny"/>


    <p><input type="submit" value="Wprowadz podstawowe dane o linii"/></p>
</form>

<a href="/">
    <p><button>Powrót na stronę poczatkową</button></p>
</a>

<h3>Obecnie podane dane to:</h3>

<tr><th>Srodowisko pracy</th></tr>
<div class="srodowiskoPracy" th:text="${srodowiskoPracy}"></div>
<tr><th>Poziom wymaganego szkolenia</th></tr>
<div class="wymaganyPoziomSzkolenia" th:text="${wymaganyPoziomSzkolenia}"></div>
<tr><th>Kto obsługuje linie</th></tr>
<div class="liniaObslugiwanaPrzez" th:text="${liniaObslugiwanaPrzez}"></div>
<tr><th>Przeznaczenie linii</th></tr>
<div class="przeznaczenieLinii" th:text="${przeznaczenieLinii}"></div>
<tr><th>Przewidziany czas uzytkowania</th></tr>
<div class="przewidzianyCzasUzytkowania" th:text="${przewidzianyCzasUzytkowania}"></div>
<tr><th>Wymiary</th></tr>
<div class="wymiaryMaszyny" th:text="${wymiaryMaszyny}"></div>
<tr><th>Srodowisko pracy</th></tr>
<div class="srodowiskoPracyMaszyny" th:text="${srodowiskoPracyMaszyny}"></div>

</body>
</html>