<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Dodaj maszynę do raportu</h1>

<h2>Status procesu</h2>
<div class="wiadomosc" th:text="${wiadomosc}"></div>
<br/>
<form action="/dodajMaszyne" method="post">

    <tr><th>Podaj nazwę maszyny</th></tr>
    <input type="text" name="nazwaMaszyny"/>
    <tr><th>Podaj producenta maszyny</th></tr>
    <input type="text" name="producentMaszyny"/>
    <tr><th>Podaj typ maszyny</th></tr>
    <input type="text" name="typMaszyny"/>
    <tr><th>Podaj numer maszynyu</th></tr>
    <input type="text" name="numerMaszyny"/>
    <tr><th>Podaj daję produkcji</th></tr>
    <input type="text" name="dataProdukcji"/>
    <tr><th>Podaj posiadane certyfikaty</th></tr>
    <input type="text" name="posiadaneCertyfikaty"/>

    <p><input type="submit" value="Dodaj maszynę"/></p>
</form>

<a href="/listaMaszyn">
    <p><button>Lista maszyn</button></p>
</a>

<a href="/">
    <p><button>Powrót na stronę poczatkową</button></p>
</a>

<h3>Obecnie podane dane to:</h3>
<tr><th>Nazwa maszyny:</th></tr>
<div class="nazwaMaszyny" th:text="${nazwaMaszyny}"></div>

<tr><th>Producent maszyny:</th></tr>
<div class="producentMaszyny" th:text="${producentMaszyny}"></div>

<tr><th>Typ maszyny:</th></tr>
<div class="typMaszyny" th:text="${typMaszyny}"></div>

<tr><th>Numer maszyny</th></tr>
<div class="numerMaszyny" th:text="${numerMaszyny}"></div>

<tr><th>Data produkcji maszyny</th></tr>
<div class="dataProdukcji" th:text="${dataProdukcji}"></div>

<tr><th>Posiadane certyfikaty maszyny</th></tr>
<div class="posiadaneCertyfikaty" th:text="${posiadaneCertyfikaty}"></div>

</body>
</html>