<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Edytuj istniejaca maszyne</h1>

<form action="/edytowanieMaszyny">

    <input type = "hidden" name="nazwaMaszyny" th:value="${maszyna.nazwaMaszyny}" />

    <tr><th>Podaj producenta maszyny</th></tr>
    <input type="text" name="producentMaszyny" th:value="${maszyna.producentMaszyny}"/>
    <tr><th>Podaj typ maszyny</th></tr>
    <input type="text" name="typMaszyny" th:value="${maszyna.typMaszyny}"/>
    <tr><th>Podaj numer maszynyu</th></tr>
    <input type="text" name="numerMaszyny" th:value="${maszyna.numerMaszyny}"/>
    <tr><th>Podaj daję produkcji</th></tr>
    <input type="text" name="dataProdukcji" th:value="${maszyna.dataProdukcji}"/>
    <tr><th>Podaj posiadane certyfikaty</th></tr>
    <input type="text" name="posiadaneCertyfikaty" th:value="${maszyna.posiadaneCertyfikaty}"/>

    <p><input type="submit" value="Zapisz zmiany"/></p>
</form>

<a href="/listaMaszyn">
    <p><button>Lista maszyn</button></p>
</a>

<a href="/">
    <p><button>Powrót na stronę poczatkową</button></p>
</a>

</body>
</html>