<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Lista dodanych maszyn</h1>
<h2>Nazwa</h2>
<form action="/edytowanie">
    <select class="row" id="maszyny" name="wybranaMaszyna" >
        <option th:each="maszyna : ${maszyny}"

                th:text="${maszyna}"
                th:value="${maszyna}"

        >Brak maszyn</option>
    </select>

    <p><input type="submit" value="Edytuj dodaną maszyne"/></p>
</form>

<form action="/dodawanieMaszyny">
    <p><input type="submit" value=" Dodaj maszynę"/></p>
</form>

<form action="/">
    <p><input type="submit" value="Powrót na stronę poczatkową"/></p>
</form>



</body>
</html>