<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Strona początkowa</h1>

<tr><th>Dane Raportu</th></tr>

<a href="/dodawanieDaneZamawiajacegoRaport">
    <p><button>Wprowadz podstawowe dane zamawiajacego raportą</button></p>
</a>

<a href="/dodawanieDanychWykonujacegoRaport">
    <p><button>Wprowadz podstawowe dane wykonującego raport</button></p>
</a>

<a href="/dodawanieDanychDlaRaportu">
    <p><button>Wprowadz podstawowe dane do raportu</button></p>
</a>

<tr><th>Linia produkcyjna / Maszyna </th></tr>

<a href="/dodawanieLPPDL">
    <p><button>Wprowadz podstawowe dane  linii lub maszyny</button></p>
</a>

<a href="/dodawanieLPOpisLinii">
    <p><button>Wprowadz opis linii lub maszyny</button></p>
</a>

<a href="/dodawanieLPOgraniczeniaMaszyny">
    <p><button>Wprowadz ograniczenia linii lub maszyny</button></p>
</a>

<a href="/dodawanieLPInformacjeOObsludzeIKonserwacji">
    <p><button>Wprowadz dane o obsłudze i konserwacji linii lub maszyny</button></p>
</a>

<tr><th>Dodawanie maszyn / ryzyk </th></tr>

<a href="/listaMaszyn">
    <p><button>Lista maszyn</button></p>
</a>

<a href="/dodawanieMaszyny">
    <p><button>Dodaj maszynę</button></p>
</a>

<a href="/dodawanieRyzyko">
    <p><button>Dodaj ryzyko</button></p>
</a>

</body>
</html>